*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Log page style start here */
.login-container{
  height: 100vh;
  background-color: lightblue;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.login-container form{
  width: 25rem;
  border: 1px solid black;
  height: 27rem;
  position: relative;
  
}

h2, h3{
  position: absolute;
  top: 1rem;
  left: 0;
  text-align: center;
  width: 100%;
}
h2{
  top: 2rem;
}
.login-container form div.email-wrapper{
  margin-top: 5rem;
}
.login-container form div{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2.5rem;
  padding: 0 2rem;
}
.login-container form input{
  border: none;
  padding: 0.25rem 0.5rem;
}
.login-container form input:focus{
  outline: none;
}
span{
  display: block;
  margin: 0 0 2.5rem 2rem;
}
.login-container form button{
  width: 50%;
  padding: 0.5rem;
  margin-left: 25%;
}
/* Sign in page style start */
.signin--container form{
  height: 28rem;
}
.signin--container h2{
  top: 2rem;
}

/* Search stlyle start */
.search-bar{
  padding: 2rem 5rem;
}
.search-bar input{
  width: 90%;
  height: 1.5rem;
  vertical-align: top;
  padding: 0.25rem 0.5rem;
  border-right: none;
  border-radius: 10px 0 0 10px;
  
}
.search-bar input::placeholder{
  text-align: center;
}
.search-bar input:focus{
  outline: none;
}
.search-bar button{
  width: 10%;
  height: 1.5rem;
  border-left: none;
  border-radius: 0 10px 10px 0;
}
/* Product container style */
.item-wrapper{
  padding: 1rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}